/* {
  outline: 2px solid red;
}*/
body {
  background-image: url(../actualbackground.jpg);
}
/*.background {
   position: fixed;
   top: 0px;
   left: 0px;
   right: 10px;
   width: 100%;
   height: 100%;
   background-color: #040209;
   z-index: -30;
   */


.Home, .Projects, .About, .Contact {
  position: relative;
  border: 0px;
  padding: 0px;
  top: 10px;
  margin: 60px;
  color:white;
}
.Home::before, .Projects::before, .About::before, .Contact::before {
  position: absolute;
  content: '';
  background: white;
  height: 1.5px;
  bottom: 0;
  width: 0%;
  transition: 140ms;
}
.Home:hover:before, .Projects:hover:before, .About:hover:before, .Contact:hover:before {
  width: 100%;
}

p1 {
    color: white;
}
p1 {

  font-family: Arial, Helvetica, sans-serif;
}

.leftbracket, .rightbracket {
position:absolute;
font-size: 80px;
top: 240px;
color:white;
animation: fadeInForBrackets 3s;
opacity: 0;
}
.leftbracket{ left:230px; }
.rightbracket{ right: 230px;}

.Introline1, .Introline2, .Introline3, .Introline4 {
    position: absolute;
    animation: fadeInForIntro 4.5s;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color:white;
    animation-iteration-count: 1;
    opacity: 0;
}
.Introline5 {
   position: absolute;
   animation: fadeInForIntrolast 4.5s forwards;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 30px;
   color:white;
   animation-iteration-count: 1;
  opacity: 0;

}

.Introline1 {animation-delay: 0s}
.Introline2 {animation-delay: 5s;}
.Introline3 {animation-delay: 10s;}
.Introline4 {animation-delay: 15s;}
.Introline5 {animation-delay: 20s;}

@keyframes fadeInForBrackets {
  0% {opacity: 0;}
  50% {opacity: 1;}
  70% {opacity: 0.30;}
  100% {opacity: 0;}
}

@keyframes fadeInForIntro {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeInForIntrolast {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 1;}
}
.dropzero1 {
 position: relative;
 font-size: 20px;
 animation: movebinary1 13s;
 animation-iteration-count: infinite;
 animation-delay: 7s;
 color: grey;
 z-index: -20;
 opacity:0;
}

.dropzero2 {
 position: relative;
 font-size: 20px;
 animation: movebinary2 13s;
 animation-iteration-count: infinite;
 animation-delay: 3s;
 color: grey;
 z-index: -21;
 opacity:0;

}
.dropone1 {
 position: relative;
 font-size: 20px;
 animation: movebinary3 13s;
 animation-iteration-count: infinite;
 animation-delay: 4.6s;
 color: grey;
 z-index: -22;
 opacity: 0;
}
.dropone2{
 position: relative;
 font-size: 20px;
 animation: movebinary4 13s;
 animation-iteration-count: infinite;
 animation-delay: 1s;
 color: grey;
 z-index: -23;
 opacity: 0;
}
.dropone3{
 position: relative;
 font-size: 20px;
 animation: movebinary5 13s;
 animation-iteration-count: infinite;
 animation-delay: 8s;
 color: grey;
 z-index: -24;
 opacity: 0;

}

@keyframes movebinary1{
  0%{opacity:0}
  30%{opacity:0.5}
  50%{opacity:1}
  100%{opacity:0}
  from{left: 500px; top: 0px;}
  to{left: 500px; top: 1000px;}
}
@keyframes movebinary2{
  0%{opacity:0}
  30%{opacity:0.5}
  50%{opacity:1}
  100%{opacity:0}
  from{left: 950px; top: 0px;}
  to{left: 950px; top: 1000px;}
}
@keyframes movebinary3{
  0%{opacity:0}
  30%{opacity:0.5}
  50%{opacity:1}
  100%{opacity:0}
  from{left: 600px; top: 0px;}
  to{left: 600px; top: 1000px;}
}
@keyframes movebinary4{
  0%{opacity:0}
  30%{opacity:0.5}
  50%{opacity:1}
  100%{opacity:0}
  from{left: 200px; top: 0px;}
  to{left: 200px; top: 1000px;}
}
@keyframes movebinary5{
  0%{opacity:0}
  30%{opacity:0.5}
  50%{opacity:1}
  100%{opacity:0}
  from{left: 670px; top: 0px;}
  to{left: 670px; top: 1000px;}
}


.aboutheader {
  text-align: center;
  position: absolute;
  color: white;
  font-size: 30px;
  top: 580px;
  left: 50%;
  transform: translate( -50%, -50%);
  animation: aboutanimation 4.2s infinite;
}

@keyframes aboutanimation {
  0% {opacity: 1}
  50% {opacity: 0.15}
  100% {opacity: 1}
}

.aboutinfocontainer {
  position: absolute;
  display:flex;
  justify-content: center;
  background-color: grey;
  width: 600px;
  height: 80px;
  top: 670px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.aboutinfo div {
  font-size: 20px;
  color: white;
}

.projectsheader{
  text-align: center;
  position: absolute;
  color: white;
  font-size: 30px;
  top: 1000px;
  left: 50%;
  transform: translate( -50%, -50%);
  animation: projectsanimation 4.2s infinite;
}

@keyframes projectsanimation {
  0% {opacity: 1}
  50% {opacity: 0.15}
  100% {opacity: 1}
}
.projectscontainer {
  position: absolute;
  display:flex;
  justify-content: space-around;
  background-color: grey;
  width: 1200px;
  height: 300px;
  top: 1200px;
  margin-left: 50%;
  transform: translate(-50%, -50%);

}

.projectscontainer div {
  width: 400px;
  font-size: 20px;
  color: white;
  display:flex;
  justify-content: center;
}

.gameenginecontainer, .pincontainer, .fileorganizercontainer{
  position: relative;
  display: flex;
  justify-content: center;
  background-color: green;
  margin: 20px;
  width: 250;
}

.gameenginecontainer div, .pincontainer div, .fileorganizercontainer div{
  position: absolute;
  top: 30px;
  width: 250px;
  height: 200px;
  padding:  0px;
  color: white;
  background-color: blue;
}